/* color variables for easier use */
:root {
  --aqua: #b9faf8;
  --purp4: #b8d0eb;
  --purp3: #b298dc;  
  --purp2: #a663cc;
  --purple: #6f2dbd; 
}

/* set default for page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--purple) */
}

/* set overall body style */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  background-color: #b9faf8;
}

/* header styling */
header {
  padding: 20px 35px 20px 0;
  /* background-color: linear-gradient(--yellow, #fcba04); */
  background-color: #a663cc;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 4vw;
  color: var(--purp4);
  margin: 0;
  background-color: var(--purple);
  padding: 5px 1% 5px 6%;
  text-shadow: 1px 1px black;
}

/* remove text color change for visited link */
header h1 a:visited {
  color: var(--purp4);
}

/* navigation styling */
header nav {
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

/* navigation text styling */
header nav a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.4rem;
  color: var(--aqua);
  text-decoration: underline;
  transition: all 0.25s ease-in;
  text-shadow: 1px 1px var(--purple)
}

/* reactive to hover */
header nav a:hover {
  background: var(--purp3);
  background-size: 100% 100%;
  color: var(--purple);
  text-shadow: none;
}

/* hero styling */
.hero {
  background-image: url("./assets/birch.jpg");
  background-color: var(--purp2);
  height: 450px;
  width:100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  border: var(--purple) solid 5px;
}

.hero img {
  padding: 0;
  border: var(--purple) solid 5px;
  margin-left: 2%;
}

.hero div {
  flex: 0 0 50%;
}

.hero h2 {
margin-right: 0;
padding: 1px 1px;
color: var(--purp2);
background-color: var(--yellow);
display: inline;
text-shadow: 1px 1px black;
}

/* overall main section styling */
main {
  margin: 20px auto 40px auto;
  max-width: 88%;
}

/* begin styling of main page */
.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.page-section h2 {
  color: var(--purple);
  text-shadow: 1px 1px black;
}
.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  border-right: 5px solid var(--purple);
  padding-right: 15px;
  font-size: 4vw;
  line-height: 1.1; 
}

.page-section div {
  flex: 0 0 77%;
}

.page-section p {
  font-size: 20px;
  padding: 0 30px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

/* begin styling of work section */
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 77%;
}

.work-text {
  display: flex;
  background-color: var(--aqua);
  min-height: 150px;
  max-height: 150px;
  align-items: flex-end;
  border: 5px solid var(--purple);
  text-decoration: none;
  background-size: 150%;
  background-position: center; 
  opacity: 0.5;
  flex-basis: calc(50% - 1em);
  padding: 0 0 20px 0;
  margin: 0.5em;
  font-size: 0.5rem;
}

/* make first work box larger */
.work-text:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

/* make each work box reactive to hover */
.work-text:hover {
  opacity: 1.0;
}

h4:hover {
  color: var(--purp3)
}

.work-text div {
  padding: 8px 10px;
  color: var(--aqua);
}

/* make name of link larger */
.work-text h4 {
  font-size: 1.6rem;
  font-weight: bold;
}

/* background images for work boxes */
.surf {
  background-image: url("./assets/IMG_7579.jpg");
}

.led {
  background-image: url("./assets/table_with_food_top_view_900x700.jpg");
}

.refactor {
  background-image: url("./assets/weather.jpg");   
}

/* .run-buddy {
  background-image: url("./assets/letters1.jpg");   
}

.robot {
  background-image: url("./assets/work.jpg");
} */

/* begin footer styling */
.contact-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 8px;   
}

/* media queries */

@media screen and (max-width: 768px) {
 .page-section > h2 {
     font-size: 4vw;
 }
}

@media screen and (max-width: 575px) {  
     .contact-links {
      font-size: 3vw;
  }
}



