/* color variables for easier use */
:root {
  --aqua: #2ec4b6;
  --red: #e71d36;
  --white: #Fdfffc;  
  --black: black;
  --gold: #ff9f1c; 
  --light: #f7d1cd;
  --light2: #e8c2ca;
  --med: #d1b3c4;
  --dark2: #b392ac;
  --dark: #735d78;
}

.fa-linkedin:before, .fa-stack-overflow:before, .fa-github:before {
  color: var(--dark);
  margin: 15px;
}

footer a:hover {
  opacity: .75;
}

textarea {
  height: 200px;
  width: 600px;
  padding: 10px;
  border: 2px solid var(--light);
  margin-top: 20px;
}
button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--dark);
  padding: 10px 15px;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

button[disabled] {
  cursor: grab;
  opacity: 0.8;
}

form {
  width: 40%;
}

input {
  margin: 10px 0;
  font-size: 1rem;
  padding: 0.25rem;
  width: 600px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
  margin-right: 10px;
}

h4, span {
  color: var(--light);
  text-shadow: 1px 1px black;
  padding: .25rem;
  margin-left: 20px;
}

/* set default for page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--gold) */
}

/* set overall body style */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
  background-color: var(--dark2);
  text-shadow: 1px 1px black;
  font-size: 1.5em;
}

/* header styling */
header {
  padding: 20px 70px 20px 0;
  background-color: var(--dark);
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 100%;
  z-index: 9999;
  /* border: 5px solid var(--gold); */
  
}

header h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--light);
  margin: 0;
  text-shadow: 1px 1px black;
  padding-left: 20px;
}

/* remove text color change for visited link */
header h1 a:visited {
  color: var(--light);
}

/* navigation styling */
header nav {
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

/* navigation text styling */
#navigation {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5rem;
  color: var(--light);
  text-decoration: underline;
  transition: all 0.25s ease-in;
  text-shadow: 1px 1px var(--black);
  display: inline-block;
  list-style: none;
  position: relative;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
/* reactive to hover */
span:hover {
  background: #e8c2ca;
  background-size: 100% 100%;
  color: var(--black);
  text-shadow: none;
  border-radius: .25ch;
  cursor: pointer;
}

/* hero styling */
.hero {
  background-image: url("./assets/heather-flower-14751328990B1.jpg"); 
  background-color: var(--black);
  height: 450px;
  width:100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  border: var(--light) solid 5px;
  border-radius: 2ch;
}

.hero img {
  padding: 0;
  border: var(--light) solid 5px;
  margin-left: 2%;
  border-radius: 2ch;
}

.hero div {
  flex: 0 0 50%;
}

.hero p {
margin-right: 0;
padding: 1px 1px;
color: var(--red);
background-color: var(--yellow);
display: inline;
text-shadow: 1px 1px black;
}

/* overall main section styling */
main {
  margin: 20px auto 40px auto;
  max-width: 88%;
}

/* begin styling of main page */
.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

main h2 {
  margin-bottom: 20px;
}

.page-section h2 {
  color: var(--light);
  text-shadow: 1px 1px black;
  font-size: 1em;
  padding: 20px;
  text-align: justify;
}
.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  border-right: 5px solid var(--light);
  padding-right: 15px;
  font-size: 4vw;
  line-height: 1.1; 
}

.page-section div {
  flex: 0 0 77%;
}

.page-section p {
  font-size: 20px;
  padding: 0 30px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  color: var(--light);
}

/* begin styling of work section */
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 77%;
}

.work-text {
  display: flex;
  background-color: var(--aqua);
  min-height: 150px;
  max-height: 150px;
  align-items: flex-end;
  border: 5px solid var(--light);
  text-decoration: none;
  background-size: 150%;
  background-position: center; 
  opacity: 0.5;
  flex-basis: calc(100% - 1em);
  padding: 0 0 20px 0;
  margin: 0.5em;
  font-size: 0.7rem;
  border-radius: 2ch;
}

#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* make first work box larger */
.work-text:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

/* make each work box reactive to hover */
.work-text:hover {
  opacity: 1.0;
}

h4:hover {
  color: var(--dark);
  text-shadow: 1px 1px var(--black);
}

.work-text div {
  padding: 8px 10px;
  color: var(--light);
}

/* make name of link larger */
.work-text h4 {
  font-size: 1.6rem;
  font-weight: bold;
}

/* background images for work boxes */
.surf {
  background-image: url("./assets/IMG_7579.jpg");
}

.led {
  background-image: url("./assets/table_with_food_top_view_900x700.jpg");
  background-position: bottom center
}

.refactor {
  background-image: url("./assets/weather.jpg"); 
  background-position: bottom center  
}

.run-buddy {
  background-image: url("./assets/work.PNG"); 
  background-position: bottom center;  
}

.robot {
  background-image: url("./assets/budget.PNG");
  background-position: bottom center
} 

/* begin footer styling */
footer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  text-decoration: none;
  padding: 8px;  
  color:#735d78 
}

/* media queries */

@media screen and (max-width: 768px) {
 .page-section > h2 {
     font-size: 4vw;
 }

 header {
   margin: none;
   padding: 10px;
   text-align: center;
   justify-content: center;
 }


}

@media screen and (max-width: 575px) {  
     .contact-links {
      font-size: 3vw;
  }

  header {
    margin: none;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }
}



